.homepageFiller {
    line-height: 2;
    padding-left: 10em;
    padding-right: 10em;
    text-align: center;
}


.buttons {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.regLinkButton { 
    border: 2px black;
    text-align: center;
    color: rgb(240,240,240);
    background-color: rgb(102, 192, 105);
    border-radius: 6px;
   
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
    margin: 15px;

}

.regLinkButton:hover {
    background-color: rgb(52, 142, 55);
}

.loginLinkButton {
    border: 2px black;
    text-align: center;
    color: rgb(240,240,240);
    background-color: rgb(102, 192, 105);
    border-radius: 6px;
   
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
    margin: 15px;
}

.loginLinkButton:hover {
    background-color: rgb(52, 142, 55);
}