/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .ending {

        padding-top: 50px;
        padding-bottom: 20px;
        margin: auto;
        display: block;
        align-items: center;
        text-align: center;
        
    }
    
    .startButton {
        border-radius: 8px;
        background-color: rgb(142, 175, 218);
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: node;
        font-size: 10px;
        
    }
    
    
    
    .submitButton {
        border-radius: 4px;
        background-color: rgb(233, 146, 140);
        color: white;
        /* padding: 12px 24px; */
        text-align: center;
        text-decoration: node;
        font-size: 10px;
    }
    
    
    
    .logoutButton {
    
        border-radius: 12px;
        background-color: rgb(102, 192, 105);
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: node;
        font-size: 16px;
    
    }
    
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .ending {

        padding-top: 30px;
        padding-bottom: 15px;
        margin: auto;
        display: block;
        align-items: center;
        text-align: center;
        
    }
    
    .startButton {
        border-radius: 8px;
        background-color: rgb(142, 175, 218);
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: node;
        font-size: 10px;
        
    }
    
    
    
    .submitButton {
        border-radius: 4px;
        background-color: rgb(233, 146, 140);
        color: white;
        /* padding: 12px 24px; */
        text-align: center;
        text-decoration: node;
        font-size: 10px;
    }
    
    
    
    .logoutButton {
    
        border-radius: 12px;
        background-color: rgb(102, 192, 105);
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: node;
        font-size: 12px;
    
    }
    
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .ending {

        padding-top: 30px;
        padding-bottom: 20px;
        margin: auto;
        display: block;
        align-items: center;
        text-align: center;
        
    }
    
    .startButton {
        border-radius: 8px;
        background-color: rgb(142, 175, 218);
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: node;
        font-size: 10px;
        
    }
    
    
    
    .submitButton {
        border-radius: 4px;
        background-color: rgb(233, 146, 140);
        color: white;
        /* padding: 12px 24px; */
        text-align: center;
        text-decoration: node;
        font-size: 10px;
    }
    
    
    
    .logoutButton {
    
        border-radius: 12px;
        background-color: rgb(102, 192, 105);
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: node;
        font-size: 14px;
    
    }
    
    


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .ending {

        padding-top: 50px;
        padding-bottom: 20px;
        margin: auto;
        display: block;
        align-items: center;
        text-align: center;
        
    }
    
    .startButton {
        border-radius: 8px;
        background-color: rgb(142, 175, 218);
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: node;
        font-size: 10px;
        
    }
    
    
    
    .submitButton {
        border-radius: 4px;
        background-color: rgb(233, 146, 140);
        color: white;
        /* padding: 12px 24px; */
        text-align: center;
        text-decoration: node;
        font-size: 10px;
    }
    
    
    
    .logoutButton {
    
        border-radius: 12px;
        background-color: rgb(102, 192, 105);
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: node;
        font-size: 16px;
    
    }
    
    

}


.Fieldtext {
    /* margin: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Greeting {
    text-align: center;
}

.submitField {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StartAndScore{
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.startButton:hover {
    background-color: rgb(92, 125, 168);
}

.submitButton:hover {
    background-color: rgb(183, 96, 90);
}

.logoutButton:hover {
    background-color: rgb(52, 142, 55);
}

.logoutButton:hover {
   background-color: rgb(52, 142, 55);
}

