.backToHomeButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backToHomeLink {
    text-align: center;
    border: 2px black;
    text-align: center;
    background-color: rgb(121, 207, 167);
    color: white;
   
    text-decoration: none;
    font-size: 22px;
    padding: 10px;

    

    /* border-top: 2px solid rgb(255, 179, 179); */
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    /* border-left: 2px solid rgb(255, 179, 179); */
}

.backToHomeLink:hover {
    background-color: rgb(71, 157, 117);
}

.registerLink {
    text-align: center;
    border: 2px black;
    text-align: center;
    background-color: rgb(163, 211, 230);
    color: white;
   
    text-decoration: none;
    font-size: 10px;
    padding: 10px;

    /* border-top: 2px solid rgb(255, 179, 179); */
    border-right: 2px solid #035c77;
    border-bottom: 2px solid #035c77;
    /* border-left: 2px solid #035c77; */
}

.loginBody {
    padding-bottom: 20px;
}

.emailField {
    padding-top: 20px;
    margin-right: auto;
    display: block;
    align-items: center;
    text-align: center;
}

.passwordField {
    margin: auto;
    display: block;
    align-items: center;
    text-align: center;
}

.loginDiv {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton {
    text-align: center;
    border: 2px black;
    text-align: center;
    background-color: rgb(163, 211, 230);
    color: white;
   
    text-decoration: none;
    font-size: 16px;
    padding: 10px;

    /* border-top: 2px solid rgb(255, 179, 179); */
    border-right: 2px solid #035c77;
    border-bottom: 2px solid #035c77;
    /* border-left: 2px solid #035c77; */
}

.loginButton:hover {
    background-color: rgb(113, 163, 180);
}


.registerLink:hover {
    background-color: rgb(113, 161, 180);

}

.infoText {

    text-align: center;
}